.container {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

.container h1 {
  color: white;
  display: flex;
  text-align: center;
  margin-inline: 1rem;
}

.logo {
  width: 9rem;
  height: 9rem;
}

@media (max-width: 768px) {
  /*para dispositivos moveis*/

  .container h1 {
    display: block;
    font-size: 22px;
    margin: 0;
  }

  .logo {
    margin: 0;
    width: 8rem;
    height: 8rem;
  }
}
