@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

:root {
  --fundo: white;

  --blacktext: #000;
  --redtext: #b60303;

  background: linear-gradient(
    90deg,
    #f0eada 0%,
    #f0eada 25%,
    #f3ebd6 50%,
    #f5ebd1 100%
  );

  color: #032e2a;
}
