.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container h1{
    color: #e95601;
  }
  
  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 960px;
    padding: 0 1rem;
  }
  
  .title {
    font-size: 3rem;
    margin: 3rem 0;
    text-align: center;
  }
  
  .tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  .tab {
    background-color: #e95601;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-in-out;
  }
  
  .tab:hover {
    background-color: rgb(146, 42, 1);
  }
  
  
  .list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    padding: 0;
    margin: 0;
  }
  
  .item {
    border: 1px solid #4e1d01;
    padding: 1rem;
  }
  
  .item h2 {
    margin-top: 0;
    color: #b34100;
  }
  
.item p{
    color: #000000;
}
  .item p:last-of-type {
    margin-bottom: 0;
    color: #b34100;
  }
  
  