.container h1 {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: white;
  font-size: 50px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}

.container hr {
  margin-bottom: 0;
}

.container a {
  transition: 0.3s;
}

.container a:hover {
  text-decoration: underline;
  opacity: 75%;
}

.autoscroll {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}
.autoscroll p {
  text-align: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
}

.autoscroll hr {
  margin: 0;
}

.about {
  min-height: 50rem;
  padding: 5rem;
  width: 91%;
  margin-right: auto;
  background-image: url("/images/background1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  /* background-attachment: fixed; */
  color: white;
}

.about p {
  width: 60%;
}

.invite {
  padding: 4rem;
  width: 60%;
  margin-left: auto;
  color: white;
}

.invite a {
  display: block;
  font-size: 20px;

  color: white;
}

.cardapio {
  margin-left: 15rem;
  margin-top: 2rem;
  width: 80%;
  height: 100%;
  border-radius: 900px;
}

.location {
  display: flex;
  padding: 3rem;
  width: 91.5%;
  margin-right: auto;
  color: #fff;

  background-image: url("/images/background1.jpg");
  background-size: 100%;
  background-position: center 10%;
}
.location a {
  color: #ff8e31;
}

.logo {
  width: 100px;
  height: 100px;
  border-right: solid 1px whitesmoke;
  margin-right: 2rem;
}

@media (max-width: 1024px) {
  .container {
    display: block;
    flex-direction: column;
  }

  .container p {
    width: 50%;
    padding: 1rem;
  }

  .container h2 {
    text-align: center;
    padding: 1rem;
    margin-top: 0;
  }

  .autoscroll {
    display: flex;
    justify-content: center;
    size: 50%;
    padding: 2rem;
    gap: 0;
  }

  .autoscroll p {
    font-size: 12px;
    justify-content: center;
    color: #fff;
    cursor: pointer;
  }

  .autoscroll hr {
    margin: 0;
  }

  .about,
  .invite {
    background-size: 90rem;
    width: 100%;
    padding: 0;
    background-position: 0% center;
  }

  .invite a {
    display: flex;
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-size: 20px;
    font-style: italic;
    color: white;
  }

  .cardapio {
    padding: 1rem;
    margin-left: 0;
    margin-top: 0;
    width: 80%;
    height: 100%;
    border-radius: 900px;
  }

  .location {
    display: flex;
    background-position: 100% 0%;
    background-size: 90rem;
    width: 100%;
    padding: 0;
    margin-bottom: -1rem;
  }
  .location p {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 80%;
  }

  .location a {
    color: #ff8e31;
    width: 100%;
  }

  .logo {
    display: none;
  }
}
